#myBtn2 {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: red;
color: white;
cursor: pointer;
padding: 15px;
border-radius: 4px;
}

#myBtn2:hover {
background-color: #555;
}


  * {
  box-sizing: border-box;
  }


  .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  }

  input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  }

  input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
  }

  input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
  }

  .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  }

  .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
  }

  .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
  }

  #query {
  border-radius: 5px;
  background: white;
  padding: 20px;
  width: 140px;
  height: 15px;
}

a, u {
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
.cool-link {
  display: inline-block;
  color: #80ff80;
  text-decoration: none;
}



.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #80ff80;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}
