<!DOCTYPE html>
{% extends 'searchBarApp/base.html' %}

{% load staticfiles %}

{% block body_block %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      $(function(){
          var time = 5;

          function redirect(){
            setTimeout(redirect,1000);
            $(".timer").html(time)
            if(time == 0)
            {
                window.location.href = "{% url 'basicapp:user_login' %}"
            }
            time--;
          }
          redirect()
        });
      </script>
    <center><img src="{% static "images/7YUz.gif" %}" width="80px" height = "80px"></center>

   <center>  <h1>
        Invalid Login Details are supplied   
    You will be redirected to our LoginPage in <span class = "timer">0</span> seconds</h1></center><br><br><br>

      <br><br><br><br>
{% endblock body_block %}