<!DOCTYPE html>
{% extends 'searchBarApp/base.html'%}
{% load crispy_forms_tags %}
{% block body_block %}
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="{% url 'basicapp:profile' %}" class="list-group-item list-group-item-action">Profile</a>
              <a href="{% url 'basicapp:visited_industries' %}" class="list-group-item list-group-item-action">visited Industries</a>
              <a href="{% url 'basicapp:booked_to_visit' %}" class="list-group-item list-group-item-action">Booked industries to visit</a>
              <a href="{% url 'basicapp:add_to_visit_later' %}" class="list-group-item list-group-item-action">Visit Later</a>
              <a href="{% url 'basicapp:update' %}" class="list-group-item list-group-item-action">Update Profile</a>
            </div>
		</div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<div class="content-section">
			<div class="media">
				<img class="rounded-circle account-img" src="{{ user.userprofileinfo.image.url }}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<div class="media-body">
					<h2 class="account-heading"style="font-size:40px">{{ user.username }}</h2>
					<p class="text-secondary" style="font-size:25px">{{ user.email }}</p>
				</div>
			</div>
			<br><br>
			<h2>Profile Info</h2>
			<hr>
			<div>
			<h3>Username:</h3>
			<h5>{{ user.username }}</h5><br>
			<h3>Email:</h3>
			<h5>{{ user.email }}</h5><br>
			<h3>Name:</h3>
			<h5>{{ user.userprofileinfo.name }}</h5><br>
			<h3>Gender:</h3>
			<h5>{{ user.userprofileinfo.gender }}</h5><br>
		</div>

    </div>
</div>

    <br><br>
    <br><br>






{% endblock %}
