<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#id_date_visit" ).datepicker({ minDate: 0, maxDate: "+12M" , dateFormat: "yy-mm-dd"});
    } );
    </script>

</head>
<body>
    <header data-is-mobile="false" data-state="fixedPosition"
            style="position: fixed; margin-top: 0px; width: 100%; min-width: 980px; text-align:center; opacity: 0.6">
        <p><img style="width:50%;" src="{% static "images/rdr2.png" %}"></p>
    </header>

    <header>
        <p style="width:100%; opacity: 0;"><img style="width:50%;" src="{% static "images/rdr2.png" %}"></p>
    </header>

    <div class="container width-70">
    <h2> Please Fill out the form </h2>
    <form action="{% url 'booking:con_orga' %}" method="POST" >
        {% csrf_token %}
        {{ form|crispy }}
        {{ slot|crispy }}
        <br>
        <input type="submit" value="Book Now" class="btn btn-success">

    </form>
    </div>
</body>
</html>
