<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="form-group width-70">
        <br><br>
        <a href="{% url 'booking:con_indi' %}"><button class="btn btn-primary">Individual Booking</button></a>
        <a href="{% url 'booking:con_orga' %}"><button class="btn btn-primary">Organisation Booking</button></a>
        <!-- <a href="../abc.html">Click Me For Fun</a> -->
        <br><br><br>
        <a href="{% url 'booking:list_indi' %}"><button class="btn btn-primary">Individuals List</button></a>
        <a href="{% url 'booking:list_orga' %}"><button class="btn btn-primary">Organisations List</button></a>
        <br><br>

    </div>
</body>
</html>
