<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Subscription</title>
  </head>
  <body>
    <h2>Welcome to Visit+ Newsletter</h2>
    <h3>Newsletter</h3>

    <p></p>
    <h4>Check out this new industry added</h4>
   
    <p> <a href="http://127.0.0.1:8000">Home </a></p>
    <br><br><br>{{count}}
    <p>To UnSubscribe Go to this link :<a href="http://127.0.0.1:8000/newsletter/unsubscribe/">Unsubscribe</a>   </p>
  </body>
</html>
<!--
<a href="{% url "newsletters:newsletter_unsubscribe" %}">Unsubscribe</a> -->
