<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <style>
        body, html {
            height: 500px;
        }
        .p-lax{
            background-image:url('{{ static }}/../static/images/booking_back2.jpg');
            height: 500px;
            background-repeat: no-repeat;
            background-attachment: fixed;

        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#id_date_visit" ).datepicker({ minDate: 0, maxDate: "+12M" , dateFormat: "yy-mm-dd"});
    } );
    </script>
</head>
<body>

    <div class="p-lax">
        {% comment %}<span>
            <img src="{% static 'images/scroll_down.png' %}" alt="Scrolldown"  style="padding: 200px" height="330">
        </span>{% endcomment %}
    </div>
    <div class="container width-50" style="width:40%" id="sec02">
    <b><h2> Please Fill out the form for Booking </h2></b><br>
    <form action="{% url 'booking:con_orga' %}" method="POST" >
        {% csrf_token %}
        <h4>{{ form|crispy }}</h4><br>
        <input type="submit" value="Book Now" class="btn btn-success pull-right">
    </form>
    </div>
</body>
</html>
