<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h3>Hi, {{ list.name_person }}</h3>
    <h5>Your instance has been deleted</h5>
    <button class="btn btn-primary"><a style="color: black" href="../../"><b>Click here</b></a></button> to go to the main page
</body>
</html>