<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        #right{
            float:right;
        }
        body{
            font-size: medium;
        }
    </style>
</head>
<body>
    <center>
    <div class="container" style="width:30%; text-align: left">
        <h2>Choose the places now</h2>
        <form action="{% url 'booking:book_train_orga' %}" METHOD="post">
            {% csrf_token %}
            <div class="form-group">
                <label>From Destination</label>
                <input type="text" class="form-control" name="from_des">
            </div>
            <div class="form-group">
                <label>To Destination</label>
                <input type="text" class="form-control" name="to_des">
            </div>
            <div class="form-group">
                <label>Date of Departure</label>
                <input type="date" class="form-control" name="date">
            </div>
            <input type="submit" value="Check Availability" class="btn btn-success left">
        </form>
    </div>
</center>
</body>
</html>