{% extends 'base.html' %}

{% block content %}
   {% if industry %}

    <form class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="{{ industry.industry }}" value="{{ industry.industry }}" aria-label="Search" name="industry">
      <input type="hidden" value="{{ industry.completed}}" name="completed">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edit industry</button>
    </form>

   {% endif %}
{% endblock %}