<!DOCTYPE html>
{% extends 'searchBarApp/base.html'%}

{%block body_block%}
<br><br><br><br><br><br><br>
<h1 style="text-align:center">About Visit+</h1>

<p>Visit+ is web service started by group of students to make things easier for practical knowledge seekers .</p>

<div class="jumbotron">
        <h4>Who We Are</h4>

           <p class="lead">
                   Our story started in 2018, hinging strongly on the fact that the world was changing too rapidly for the students to just rely on classroom education. In order to develop students to be battle ready for the life after college, a sustained mechanism was needed which would educate them beyond books. The need of the hour was experiential learning. Thus was born Industrialvisits.in The central idea of our story is to help students make a successful story for themselves. We are here to expedite your success! <br><br>

                   We have a firm belief on the positive imprint, that EDUCATION TOURISM will make on the aptitude and attitude of a student. To complement the conventional way of theoretical learning, we introduced the concept of learning through first hand experience in the relevant field and by being on the field.
                   <br><br>
                   Our industry programs interaction with executives from corporate world are planned in synchronization with the theoretical curriculum. The "IV LEARNING WORKSHEET" is prepared by highly experienced educators with the goal of igniting the passion in the student and give basic working knowledge in his/her field.

           </p>

                       
               <!--Jumbotron-->
   </div>

<br><br><br><br>


{%endblock%}
