<!DOCTYPE html>
{% extends 'searchBarApp/base.html'%}

{%block body_block%}
<br><br><br><br><br><br><br><br>

<!-- FAQ -->
 <div class="col-lg-7">
  <div class="faq">
    <div class="faq_title">Faq & Stuff</div>
    <div class="faq_subtitle">read all about it</div>
    <div class="elements_accordions">
      <div class="accordions" >

        <div class="accordion_container" >
          <div class="accordion d-flex flex-row align-items-center active" ><div>What is  Visit <span>+</span></div></div>
          <div class="accordion_panel" >
            <div>
              <p>Visit+ is an web service founded by group of students .This makes your visit to any available company/industry easy .</p>
            </div>
          </div>
        </div>

        <div class="accordion_container">
          <div class="accordion d-flex flex-row align-items-center"><div>How to avail the service of visit+</div></div>
          <div class="accordion_panel">
            <div>
              <p>First of all,sign up for visit+ with email verified and enjoy the services of visit+</p>
            </div>
          </div>
        </div>

        <div class="accordion_container">
          <div class="accordion d-flex flex-row align-items-center"><div>Why is it important to have practical knowledge</div></div>
          <div class="accordion_panel">
            <div>
              <p>Very important skill to have in this competitive world</p>
            </div>
          </div>
        </div>

        <div class="accordion_container">
          <div class="accordion d-flex flex-row align-items-center"><div>How to avail the service of visit+</div></div>
          <div class="accordion_panel">
            <div>
              <p>First of all,sign up for visit+ with email verified and enjoy the services of visit+</p>
            </div>
          </div>
        </div>


        <div class="accordion_container">
          <div class="accordion d-flex flex-row align-items-center"><div>How to avail the service of visit+</div></div>
          <div class="accordion_panel">
            <div>
              <p>First of all,sign up for visit+ with email verified and enjoy the services of visit+</p>
            </div>
          </div>
        </div>


        <div class="accordion_container">
          <div class="accordion d-flex flex-row align-items-center"><div>Is there any other service provided by visit+</div></div>
          <div class="accordion_panel">
            <div>
              <p>Yes,Visit+ also provides different other services for their users</p>
            </div>
          </div>
        </div>

        <div class="accordion_container">
          <div class="accordion d-flex flex-row align-items-center"><div>How to Schedule a visit </div></div>
          <div class="accordion_panel">
            <div>
              <p>Just log onto visit+,Search the company you want to visit and schedule your visit based on the slot availability</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>

</div>
</div>
</div>


<br>
<br><br>

{%endblock%}
