<!DOCTYPE html>
{% extends 'searchBarApp/base.html'%}

{%block body_block%}
<br><br><br><br><br><br><br>
<div class="services">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title">Our Services</div>
                    <div class="section_subtitle">to choose from</div>
                </div>
            </div>
            <div class="row icon_boxes_row"><br>
    
                <!-- Icon Box -->
                <div class="col-xl-4 col-lg-6">
                    <div class="icon_box">
                        <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                             <div class="icon_box_icon"><img src="https://img.freepik.com/free-icon/bus-side-view_318-47219.jpg?size=338c&ext=jpg" alt=""></div>
                            <div class="icon_box_title">Bus</div>
                        </div>
                        <div class="icon_box_text">We can provide bus services from railway station to industry .To avail this,Just pay money and make your tour a memorable one.</div>
                    </div>
                </div>
    
                <!-- Icon Box -->
                <div class="col-xl-4 col-lg-6">
                    <div class="icon_box">
                        <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                            <div class="icon_box_icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlAm7XXi5j0JaOhXByyuv-lXiWuC8xhlAsYO6suoAJkyUVF2rF" alt=""></div>
                            <div class="icon_box_title">Train</div>
                        </div>
                        <div class="icon_box_text">Booked users also have the feasibilty to book train tickets to the venue via our website directing to third-party site</div>
                    </div>
                </div>
    
                <!-- Icon Box -->
                
                
                <!-- Icon Box -->
                <div class="col-xl-4 col-lg-6">
                    <div class="icon_box">
                        <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
                            <div class="icon_box_icon"><img src="https://image.flaticon.com/icons/svg/59/59919.svg" alt=""></div>
                            <div class="icon_box_title">Airplane</div>
                        </div>
                        <div class="icon_box_text">Booked users also have the feasibilty to book plane tickets to the venue via our website directing to third-party site</div>
                    </div>
                </div>
    
            </div>
            
        </div>
    </div>
    

<br><br><br><br>


{%endblock%}
